/* ============================================================
   Global Style Sheet
   © 2025 Evutzy. All rights reserved. (www.evutzy.com)
   Purpose: Shared typography & color theme for Evutzy pages
   ============================================================ */

   body {
      overflow: hidden;
      background-color: rgb(255, 217, 101);
      font-family: "proxima-nova", sans-serif;
      font-size: clamp(0.8rem, 1vw, 1rem);
      font-weight: 400;
      color: #3a1c24;

   }

   .title {
      font-size: clamp(2rem, 3.2vw, 2.4rem);
      font-family: "caveat-brush", sans-serif;
      color: #4a2a33;
   }

   .subtitle {
      font-size: clamp(1rem, 1.2vw, 1.2rem);
      font-weight: 600;
      color: #5a2f3a;
      font-weight: 600;
   }


   .gradient-text {
      background: linear-gradient(90deg, #b35d75, #ff7f50, #ffd252);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
   }

   button {
      background: linear-gradient(90deg, #c4637e, #ff9467, #ffd36a);
      color: white;
      font-weight: 600;
   }


   .loader {
      border: 6px solid #f3f3f3;
      border-top: 6px solid #b35d75;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      animation: spin 1s linear infinite;
   }
