/* ============================================================
   Global Style Sheet
   © 2025 Evutzy. All rights reserved. (www.evutzy.com)
   Purpose: Shared typography & color theme for Evutzy pages
   ============================================================ */

body {
  overflow: hidden;
  background-color: rgb(255, 217, 101);
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #3a1c24;

}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #b35d75;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.title {
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: "caveat-brush", sans-serif;
  color: #4a2a33;
}

.subtitle {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: 600;
  color: #5a2f3a;
}


.text {
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  line-height: 1.6;
}

.button {
  background: linear-gradient(90deg, #c4637e, #ff9467, #ffd36a);
  color: #fff;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  display: inline-block;
  padding: 0.45rem 1.1rem;
  border-radius: 25px;
  background-size: 200%;
  background-position: left center;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-position: right center;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .button {
    padding: 0.5rem 1.2rem;
    border-radius: 22px;
    margin-top: 0.8rem;
  }
}
